body{
 background-color: rgb(0, 98, 255);
 padding: 0px;
 margin: 0px;
 font: 20px sans-serif;
 margin-top: 50px;
}


.container{
    justify-content: center;
    width: 600px;
 background-color: rgb(0, 98, 255);
 border: 2px solid ;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 1px 5px;
    width: 400px;
    margin: 0 auto; 
   }

   .registra{
    margin-bottom: 10px;
 background-color: rgb(0, 98, 255);

    justify-content: center
   }

   .talla{
    margin-bottom: 10px;
   }
   .color{
    margin-bottom: 10px;
   }

   .cantidad{
    margin-bottom: 10px;
   }

   .descripcion{
    margin-bottom: 10px;
   }

    .nombre{
    margin-bottom: 10px;
   }

   .marca{
    margin-bottom: 10px;
   }

   .categoria{
    margin-bottom: 10px;
   }

   .ingresar{
    margin-bottom: 10px;
   }

.form{
    background-color: white;
}

button{
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
}
